# python ka chilla
## how to use jupyter notebook
## Basics of python

# 1- My first program in python

In [1]:
print(2+3)
print('Hello WORLD FROM Waqas Ahmed Khawaja')
print("Learnning python with ammar 19-1-2022 1:45AM")

5
Hello WORLD FROM Waqas Ahmed Khawaja
Learnning python with ammar 19-1-2022 1:45AM

# 2- Operators

In [2]:
print(2+3)
print(2-3)
print(2*3)
print(6/3)
print(5%3)
print(5//3)
print(2**3)

print(2**10/2)

5
-1
6
2.0
2
1
8
512.0

# **3- Strings**

In [3]:
print('Hello WORLD FROM Waqas Ahmed Khawaja')
print("Learnning python with ammar 19-1-2022 1:45AM") #ctrl+/

Hello WORLD FROM Waqas Ahmed Khawaja
Learnning python with ammar 19-1-2022 1:45AM

In [4]:
print('Test for Single Quotes')
print("Test for double quotes")
print("""
      TEST  
      FOR TRIPLE QUOTES""")

print("What's Up?")
print('''My answer is "I am Good"''')

Test for Single Quotes
Test for double quotes

      TEST
      FOR TRIPLE QUOTES
What's Up?
My answer is "I am Good"

# 04- Variables
**Object containing specific values**

In [5]:

x = 5
print(x)

y = 'WE ARE learning python with ammar'
print(y)
x = x+5

print(x)

print(type(x))
print(type(y))
# print_type_class

fruit_basket = "Mangoes"
print(fruit_basket)

5
WE ARE learning python with ammar
10
<class 'int'>
<class 'str'>
Mangoes

# 06- Input variables

In [6]:
fruit_basket = "Mangoes"
print(fruit_basket)

Mangoes

In [7]:
fav_fruit=input('Which is your favourite fruit: ')
greetings='your fav_fruit is: '
print(greetings,fav_fruit)

Which is your favourite fruit: grapes
your fav_fruit is:  grapes

**Another way of stage 2 input function**

In [8]:
name = input("What is your name")
greetings ='Hello Mr/Ms.'
# print(greetings,name)
# 3rd stage input function
age=int(input('What is your age'))
print(greetings,name,'you are',age,'years old')
# input_aammar_you are still young

What is your nameWaqas Ahmed Khawaja
What is your age32
Hello Mr/Ms. Waqas Ahmed Khawaja you are 32 years old

# **07 - conditional logic**

**== , < , > , <= , >= , && , ||**

In [9]:
print(4==4)
print(4!=4)
print(5<4)
print(4>3)
print(5<=4)
print(4>=3)

True
False
False
True
False
True

**application of logical operators**

In [10]:
mustafa_age=4
school_age = 5

print(mustafa_age==school_age)

False

**input function and logic operator**

In [11]:
mustafa_age=input("How old is Mustafa?")
school_age = 5

print("can Mustafa go school? ",int(mustafa_age)==school_age)

How old is Mustafa?5
can Mustafa go school?  True

# **08 - type conversion**

In [12]:
# implicit conversion
# x=1
# y=1.2
# z="hello"
# print(type(x))
# x=x*y
# print(type(x))
# x=1*z
# print(type(x))
# print(type(y))
# print()
# print(type(z))

# explicit type conversion
age = input("Enter your age:")
print(age,type(age))
age = int(age)
print(age,type(age))

# type conversion

Enter your age:32
32 <class 'str'>
32 <class 'int'>

# **09 - ifelifelse statement**

In [13]:
school_age=5

mustafa_age=int(input("Please provide Mutafa age:"))

if mustafa_age==0:
    print("before going to school he needs be geborn.")
elif mustafa_age<school_age:
    print("he can not go school yet but after",school_age-mustafa_age,"years")
elif mustafa_age==school_age:
    print("This year he can go school congrats!")
else :
    print("you need to report geminde first")
    
# if elif Else statement clear.

Please provide Mutafa age:5
This year he can go school congrats!

# **10 - functions**

**defining a function**

In [14]:
def print_5(x):
    print(x)
    print(x)
    print(x)
    print(x)
    print(x)

In [15]:
print_5("Hello Waqas Ahmed Khawja")

Hello Waqas Ahmed Khawja
Hello Waqas Ahmed Khawja
Hello Waqas Ahmed Khawja
Hello Waqas Ahmed Khawja
Hello Waqas Ahmed Khawja

In [16]:
def print_4(x):
    x=x+'\n'
    print(x*4)

print_4("hello")

hello
hello
hello
hello

**defining a fuction with if else elif staements.**

In [17]:
def can_go_school(age):
    school_age = 5
    if age<0:
        print("before going to school he needs be geborn.")
    elif age<school_age:
        print("he can not go school yet but after",school_age-age,"years")
    elif age==school_age:
        print("This year he can go school congrats!")
    else :
        print("you need to report geminde first")

In [18]:
can_go_school(int(input("enter age of your child")))

# i understand functions really well.

enter age of your child2
he can not go school yet but after 3 years

# **11- loops**

**While loop**

In [19]:
x=int(input("enter the number"))
while x<=5:
    print(x)
    x=x+1

enter the number2
2
3
4
5

**for loop**

In [20]:
days=["mon",'tue','wed','thurs','fri']

for d in days:
    print(d)

mon
tue
wed
thurs
fri